src/UniSyncClient/UniSyncClient/Service References/UniSyncService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/UniSyncService.DataContract" />
  <xs:element name="Initialize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveFileStreamFromServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveFileStreamFromServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="ReceiveFileStreamFromServerResult" nillable="true" type="q1:FileStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFileStreamToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="file" nillable="true" type="q2:FileStream" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFileStreamToServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FileListToSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UniSyncService.DataContract" minOccurs="0" name="fileList" nillable="true" type="q3:ArrayOfFileInfoDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileListToSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UniSyncService.DataContract" minOccurs="0" name="FileListToSendResult" nillable="true" type="q4:ArrayOfFileInfoDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>